.callout
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #255b9f08
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.5)
    font-size 0.9rem
    text-align right

.hero
  img
    width 180px
