$accentColor = #297abd
$badgeTipColor = #297abd
$primaryFont = 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Microsoft Yahei', sans-serif
$secondaryFont = 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Microsoft Yahei', sans-serif
