$backgroundColor = #255B9F
$accentColor = lighten($backgroundColor, 1%)
$codeBgColor = darken($backgroundColor, 70%)
$textColor = #212c42
$primaryFont = 'Miriam Libre'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Noto Sans CJK SC,sans-serif
