$backgroundColor = #255B9F
$accentColor = #265ca2
$accentDarkColor = #f7ce2d
$codeBgColor = darken($bgDarkColor, 70%)
$codeBgLightColor = #f8f8f8
$textColor = #212c42
$sidebarTextColor = #e2e2e2
$primaryFont = 'Miriam Libre', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', 'Noto Sans CJK SC', 'Source Han Sans SC', sans-serif
$secondaryFont = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', 'Noto Sans CJK SC', 'Source Han Sans SC', sans-serif
